$def with (article)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看文章</title>

        <link rel="stylesheet" type="text/css" href="/static/css/ribbon.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/common.css" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">


</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4">
                <div class='ribbon'>
                  <a href='/'><span>首页</span></a>
                  <a href='/new'><span>发表文章</span></a>
                    <a href='/logout'><span>退出</span></a>
                </div>
            </div>
        </div>

        <div class="row col-md-offset-5" style="margin-top: 5%">
            <h2>$article['title']</h2>
        </div>

        <div class="row col-md-offset-3">
        <p>$:article['content']</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
</body>
</html>